@model Phoenix.Models.Ticket
@using Phoenix.Services
@inject Microsoft.AspNetCore.Identity.UserManager<BTUser> _userManager
@inject Phoenix.Services.IBTProjectService _projectService
@inject Phoenix.Data.ApplicationDbContext _context

@inject IBTFileService BTFileService

@{
    ViewData["Title"] = "Details";
    var user = await _userManager.GetUserAsync(User);
    var ticket = _context.Tickets.FirstOrDefault();
    var member = await _projectService.UsersOnProjectAsync(ticket.ProjectId);
}





<div class="row justify-content-around mt-5">
    <div class="col-md-8">

        @* Tabs *@
        <ul class="nav nav-tabs mb-2" role="tablist" style="margin-left: -15px; margin-right: -15px;">
            <li class="nav-item">
                <a class="nav-link active widget-one_hybrid widget-followers" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link widget-one_hybrid widget-followers" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false">Comments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link widget-one_hybrid widget-followers" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link widget-one_hybrid widget-followers" id="attachment-tab" data-toggle="tab" href="#attachment" role="tab" aria-controls="attachment" aria-selected="false">Attachments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link widget-one_hybrid widget-followers" id="create-tab" data-toggle="tab" href="#create" role="tab" aria-controls="create" aria-selected="false">Create a New Ticket</a>
            </li>
        </ul>
        <div class="tab-content" id="animateLineContent-4">

            @*Title*@
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                <div class="row">
                    <div class="col-md-12 widget widget-one_hybrid widget-followers p-5">
                        <div class="row">
                            <div class="col-md">
                                <h1 class="newTicket">
                                    @Model.Title
                                    <a class="btn btn-info text-dark float-right" data-target="#edit" data-toggle="modal">Edit Ticket</a>
                                </h1><hr />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <h4 class="mt-1 newTicket">Description</h4>
                                <h6 class="newTicket mt-1">@Model.Description</h6>
                            </div>
                            <div class="col-md mt-1">
                                <div class="text-right">
                                    <div class="newTicket">
                                        <h5 class="newTicket">
                                            Priority: @Model.TicketPriority.Name
                                        </h5>
                                        <h5 class="newTicket">
                                            Status: @Model.TicketStatus.Name
                                        </h5>
                                        <h5 class="newTicket">
                                            Type: @Model.TicketType.Name
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 class="mt-1 newTicket">Project</h5>
                                <h6 class="newTicket mt-1">@Model.Project.Name</h6>
                            </div>

                        </div>

                        <div class="row justify-content-between">
                            <div class="col-md mt-5">
                                <h5 class="newTicket">
                                    Team:
                                </h5>
                                @if (Model.OwnerUserId == null)
                                {
                                    <h6 class="newTicket">
                                        Owner:
                                        Seeded by Application
                                    </h6>
                                }
                                else
                                {
                                    <h6 class="newTicket">
                                        Owner:
                                        @Html.DisplayFor(model => model.OwnerUser.FullName)
                                    </h6>
                                }
                                @if (Model.DeveloperUserId != null)
                                {
                                    <div>
                                        <h6 class="newTicket">
                                            Developer:
                                            @Model.DeveloperUser.FullName
                                        </h6>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <h6 class="newTicket">
                                            Developer: Unassigned
                                        </h6>
                                    </div>
                                }
                            </div>


                            <div class="col-md">
                                @if (Model.Updated == null)
                                {
                                    <h6 class="text-right newTicket">Created</h6>
                                    <h6 class="text-right newTicket">@Model.Created.ToString("g")</h6>
                                }
                                else
                                {
                                    <h6 class="text-right newTicket">Created</h6>
                                    <h6 class="text-right newTicket">@Model.Created.ToString("g")</h6>
                                    <h6 class="text-right mt-1 newTicket">Recent Update</h6>
                                    <h6 class="text-right newTicket">@Model.Updated.ToString()</h6>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Comments*@
            <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
                <div class="row">
                    <div class="col-md-12 widget widget-one_hybrid widget-followers p-5">
                        <div class="row justify-content-between">
                            <div class="col-md">
                                <h3 class="newTicket">Comments</h3><hr />
                                @if (ticket.OwnerUserId == user.Id || User.IsInRole("Developer") && ticket.DeveloperUserId == user.Id || User.IsInRole("Admin") ||
                            User.IsInRole("ProjectManager") && (member.Contains(user)))
                                {
                                    <div class="row">
                                        <div class="col-md">
                                            <h5 class="mb-3 newTicket">Add a comment</h5>
                                            <form asp-controller="TicketComments" asp-action="Create" class="ml-0 pl-0">
                                                <textarea name="content" class="form-control"></textarea>
                                                <input type="hidden" name="ticketId" value="@Model.Id" />
                                                <div class="form-group mt-3">
                                                    <input type="submit" value="Add Comment" class="btn btn-light" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-md">
                                @if (Model.Comments.Any())
                                {
                                    @foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
                                    {
                                        <div class="row">
                                            <h5 class="text-white">
                                                @comment.Comment
                                            </h5>
                                        </div>
                                        <div class="row mb-3">
                                            by @comment.User.FullName
                                            at @comment.Created.ToString("g")
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="row mt-5">
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-lg text-center">
                                            <h5 class="newTicket">
                                                No Comments
                                            </h5>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* History *@
            <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                <div class="row">
                    <div class="col-md-12 widget widget-one_hybrid widget-followers p-5">
                        <h3 class="newTicket">History</h3><hr />
                        <table class="table table-striped ticketsIndex table-responsive-md">
                            <thead>
                                <tr>
                                    <th>
                                        Property Name
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Editor
                                    </th>
                                    <th>
                                        Old Value
                                    </th>
                                    <th>
                                        New Value
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Histories.OrderByDescending(c => c.Created))
                                {
                                    <tr class="newTicket">
                                        <td>
                                            @item.Property
                                        <td>
                                            @item.Created.ToString("G")
                                        </td>
                                        <td>
                                            @item.User.FullName
                                        </td>
                                        <td>
                                            @Html.Raw(item.OldValue)
                                        </td>
                                        <td>
                                            @Html.Raw(item.NewValue)
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            @* Attachments *@
            <div class="tab-pane fade" id="attachment" role="tabpanel" aria-labelledby="attachment-tab">
                <div class="row">
                    <div class="col-md widget widget-one_hybrid widget-followers p-5">
                        <div class="row">
                            <div class="col-md">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h3 class="newTicket">Attachments:</h3>
                                    </div>
                                    <div class="col-md">
                                        <div class="row" style="font-size: 12px;">
                                            @if (Model.Attachments.Any())
                                            {
                                                @foreach (TicketAttachment item in Model.Attachments.OrderByDescending(c => c.Created))
                                                {
                                                    <a asp-action="ShowFile" asp-controller="Tickets" asp-route-id="@item.Id" class="mr-3">
                                                        <img src="@BTFileService.GetFileIcon(item.FileName)" style="height:60px;width:60px" />
                                                        <p class="m-b-5 text-muted mt-3">@System.IO.Path.GetFileNameWithoutExtension(item.FileName)</p>
                                                        <p class="mb-1 text-muted">Size: @BTFileService.FormatFileSize(item.FileData.Length)</p>
                                                        <p class="date text-muted">@item.Created.ToString("MMM dd, yyyy")</p>
                                                    </a>
                                                }
                                            }
                                            else
                                            {
                                                <div class="row mt-5">
                                                    <div class="col">
                                                        <h5 class="newTicket">
                                                            No Attachments
                                                        </h5>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (ticket.OwnerUserId == user.Id || ticket.DeveloperUserId == user.Id || User.IsInRole("Admin") ||
                              User.IsInRole("ProjectManager") && (member.Contains(user)))
                        {
                            <div class="row mt-5">
                                <div class="col-md">
                                    <form asp-action="Create" asp-controller="TicketAttachments" enctype="multipart/form-data" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="@Model.Id" name="TicketId">

                                        <div class="media-body row">
                                            <div class="col-md-6">
                                                <label class="h4 d-block mb-2 text-white">Add Attachment:</label>
                                            </div>
                                            <div class="col-md">
                                                <div class="row mb-3">
                                                    Description
                                                    <input asp-for="@Model.Attachments.FirstOrDefault().Description" type="text" class="form-control" />
                                                </div>
                                                <div class="row justify-content-between">
                                                    <input asp-for="@Model.Attachments.FirstOrDefault().FormFile" type="file" class="mb-3" />
                                                    <button type="submit" class="btn btn-light">Add attachment</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            @*Create*@
            <div class="tab-pane fade" id="create" role="tabpanel" aria-labelledby="create-tab">
                <div class="row">
                    <div class="col-md-12 widget widget-one_hybrid widget-followers p-5">
                        
                        @if (User.Identity.IsAuthenticated)
                        {
                            <h3 class="newTicket">Submit a new ticket, @user.FullName</h3>
                            <hr />
                            <form asp-action="Create" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Created" value="@DateTime.Now" />
                                <input type="hidden" asp-for="Created" value="@user.FullName" />

                                <div class="newTicket mb-3">
                                    <label asp-for="Title" class="newTicket"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="newTicket mb-3">
                                    <label asp-for="Description" class="newTicket"></label>
                                    <textarea input asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="newTicket mb-3">
                                    <label for="ProjectId" class="newTicket">Project</label>
                                    <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                                </div>
                                <div class="newTicket mb-3">
                                    <label for="TicketTypeId" class="newTicket">Ticket Type</label>
                                    <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                                </div>
                                <div class="newTicket mb-3">
                                    <label for="TicketPriorityId" class="newTicket">Ticket Priority</label>
                                    <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                                </div>
                                <div class="newTicket mb-3">
                                    <label for="TicketStatusId" class="newTicket">Ticket Status</label>
                                    <select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
                                </div>
                                <div class="form-group mb-5">
                                    <label for="FileName" class="control-label"></label><br />
                                    <input name="attachment" type="file" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Submit" class="btn btn-primary" />
                                </div>
                            </form>
                        }
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<div class="text-center">
    <a class="btn btn-info" asp-action="MyTickets">Back to Your Tickets</a>
</div>

@*Modal*@
<div class="modal" id="edit">
    <div class="modal modal-dialog modal-dialog-centered">
        <div class="modal-content widget widget-one_hybrid widget-followers">

            <div class="modal-header text-center">
                <h4 class="modal-title newTicket">Edit Project, @user.FullName</h4>
                <button type="button" class="btn" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">

                        <div class="col widget widget-one_hybrid widget-followers p-1 mt-2">
                            <form asp-action="Edit" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="Created" />
                                <input type="hidden" asp-for="Updated" value="@DateTime.Now" />
                                <input type="hidden" asp-for="OwnerUserId" />
                                <input type="hidden" asp-for="DeveloperUserId" />
                                <div class="row">
                                    <div class="col">
                                        <div class="newTicket mb-3">
                                            <label asp-for="Title" class="newTicket"></label>
                                            <input asp-for="Title" class="form-control" />
                                            <span asp-validation-for="Title" class="text-danger"></span>
                                        </div>
                                        <div class="newTicket mb-3">
                                            <label asp-for="Description" class="newTicket"></label>
                                            <textarea input asp-for="Description" class="form-control"></textarea>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>

                                        <div class="newTicket mb-3">
                                            <label for="ProjectId" class="newTicket">Project</label>
                                            <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                                            <span asp-validation-for="ProjectId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="newTicket mb-3">
                                            <label for="TicketTypeId" class="newTicket">Type</label>
                                            <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                                            <span asp-validation-for="TicketTypeId" class="text-danger"></span>
                                        </div>
                                        <div class="newTicket mb-3">
                                            <label for="TicketPriorityId" class="newTicket">Priority</label>
                                            <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                                            <span asp-validation-for="TicketPriorityId" class="text-danger"></span>
                                        </div>
                                        <div class="newTicket mb-3">
                                            <label for="TicketStatusId" class="newTicket">Status</label>
                                            <select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
                                            <span asp-validation-for="TicketStatusId" class="text-danger"></span>
                                        </div>
                                        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                        {
                                            <div class="newTicket mb-3">
                                                <label for="DeveloperUserId" class="newTicket">Select Developer</label>
                                                <select asp-for="DeveloperUserId" class="form-control" asp-items="ViewBag.DeveloperIds"></select>
                                                <span asp-validation-for="DeveloperUserId" class="text-danger"></span>
                                            </div>

                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3 offset-3">
                                        <div class="form-group">
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        </div>
                                    </div>
                                    <div class="col-3">

                                        @if (User.IsInRole("Admin"))
                                        {
                                            <div class="form-group" asp-action="Delete" asp-route-id="@Model.Id">
                                                <input type="hidden" asp-for="Id" />
                                                <input type="submit" value="Delete" class="btn btn-danger" />
                                            </div>
                                        }
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




