@model IEnumerable<Phoenix.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}






<div class="row layout-top-spacing" id="cancel-row">
    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
        <div class="widget-content widget-content-area br-6" style="background-color:aliceblue">
            <div class="table-responsive mb-4 mt-4">
                <table id="html5-extension" class="table table-hover" style="width:100%; background-color:aliceblue">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Created)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Updated)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Project)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketPriority)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OwnerUser)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DeveloperUser)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <p class="newTicket">@item.Title</p></td>
                                <td>
                                    <p class="newTicket">@item.Description</p></td>
                                <td>
                                    <p class="newTicket">@item.Created.ToString("G")</p></td>
                                <td>
                                    <p class="newTicket">@item.Updated</p></td>
                                <td>
                                    <p class="newTicket">@item.Project.Name</p></td>
                                <td>
                                    <p class="newTicket">@item.TicketType.Name</p></td>
                                <td>
                                    <p class="newTicket">@item.TicketPriority.Name</p></td>
                                <td>
                                    <p class="newTicket">@item.TicketStatus.Name</p></td>
                                <td>
                                    @if (item.OwnerUserId == null)
                                    {
                                        <p class="newTicket">Seeded by Application</p>
                                    }
                                    else
                                    {
                                <p class="newTicket">@item.OwnerUser.FullName</p>}</td>
                                <td>
                                    @if (item.DeveloperUserId == null)
                                    {
                                        <p class="newTicket">Unassigned</p>
                                    }
                                    else
                                    {
                                        <p class="newTicket">@item.DeveloperUser.FullName</p>
                                    }
                                    </td>
                                <td class="text-center"><button class="btn btn-outline-primary"><a asp-action="Details" asp-route-id="@item.Id">Details</a></button> </td>                               
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    @*<script src="//cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
        <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>*@
    <script src="~/plugins/table/datatable/datatables.js"></script>
    <script src="~/plugins/table/datatable/button-ext/dataTables.buttons.min.js"></script>
    <script src="~/plugins/table/datatable/button-ext/jszip.min.js"></script>
    <script src="~/plugins/table/datatable/button-ext/buttons.html5.min.js"></script>
    <script src="~/plugins/table/datatable/button-ext/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
    <script src="~/assets/js/custom.js"></script>
    <script src="plugins/table/datatable/datatables.js"></script>
    <script>
        $('#html5-extension').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 7
        });
    </script>
}
