@model Phoenix.Models.Project
@using Phoenix.Services
@inject IBTProjectService projectService
@inject IBTRoleService roleService
@inject Microsoft.AspNetCore.Identity.UserManager<BTUser> _userManager
@inject IBTFileService fileService

@{
    ViewData["Title"] = "Details";

    var user = await _userManager.GetUserAsync(User);
}


<div class="row justify-content-around mt-5">
    <div class="col-md-8">

        @* Tabs *@
        <ul class="nav nav-tabs mb-2" id="animateLine" role="tablist" style="margin-left: -15px; margin-right: -15px;">
            <li class="nav-item">
                <a class="nav-link active widget-one_hybrid widget-followers" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link widget-one_hybrid widget-followers" id="members-tab" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="false">Team Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link widget-one_hybrid widget-followers" id="tickets-tab" data-toggle="tab" href="#tickets" role="tab" aria-controls="tickets" aria-selected="false">Tickets</a>
            </li>
            @*<li class="nav-item">
                <a class="nav-link widget-one_hybrid widget-followers" id="animated-underline-profile-tab" data-toggle="tab" href="#animated-underline-profile" role="tab" aria-controls="animated-underline-profile" aria-selected="false">Attachments</a>
            </li>*@
        </ul>
        <div class="tab-content" id="animateLineContent-4">

            @*Details Tab*@
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-md-12 widget widget-one_hybrid widget-followers p-5">
                        <div class="row">
                            <div class="col-md">
                                <h1 class="newTicket">
                                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                    {
                                        <a class="btn btn-info text-dark float-right" data-target="#edit" data-toggle="modal">Edit Project</a>
                                    }
                                    "@Model.Name"
                                </h1>
                                <hr />
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md">
                                <h5 class="newTicket">
                                    Project Manager:
                                </h5>
                                @foreach (var member in Model.Members)
                                {

                                    if (await roleService.IsUserInRoleAsync(member, "ProjectManager"))
                                    {
                                        <h6 class="newTicket offset-2">
                                            @member.FullName
                                        </h6>

                                    }
                                    else if (await roleService.IsUserInRoleAsync(member, "ProjectManager") == null)
                                    {

                                        <h6 class="newTicket offset-2">
                                            Unassigned
                                        </h6>

                                    }
                                }
                                <br />
                                <h5 class="mt newTicket">Company:</h5>
                                <h6 class="newTicket mt-1 offset-2">@Model.Company.Name</h6>
                            </div>

                            <div class="col-md mt-3">
                                <div>
                                    @if (Model.ImageFileData is not null)
                                    {
                                   <img src="@fileService.ConvertByteArrayToFile(Model.ImageFileData, Model.ImageFileName)" style="height:200px;width:280px" />
                                    }
                                    else
                                    {
                                    <img src="~/assets/img/200x200.jpg" style="height:200px;width:280px" />
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3 justify-content-between">

                            <div class="col align-self-end">
                                <h5 class="newTicket">Tickets on Project:   @Model.Tickets.Count()</h5>

                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col">
                                <h5 class="mt-3 newTicket">Description:</h5>
                                <h6 class="newTicket mt-1 offset-1">@Model.Description</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Members Tab*@
            <div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="members-tab">
                <div class="row">
                    <div class="col-md-12 widget widget-one_hybrid widget-followers p-5">
                        <div class="row">
                            <div class="col-md">
                                <h1 class="newTicket">
                                    Team Members

                                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                    {
                                        <a class="btn btn-info text-dark float-right" asp-action="ManageUsersOnProject">Add Users</a>
                                    }
                                </h1>
                                <hr />
                            </div>
                        </div>
                        <div class="row mt-1 justify-content-between">
                            <div class="col-12 offset-1">

                                @foreach (var member in Model.Members)
                                {

                                    if (await roleService.IsUserInRoleAsync(member, "ProjectManager"))
                                    {
                                        <h5 class="newTicket">Project Manager: @member.FullName</h5>

                                    }
                                    else if (await roleService.IsUserInRoleAsync(member, "ProjectManager") == null)
                                    {

                                        <h6 class="newTicket">
                                            Unassigned
                                        </h6>

                                    }
                                }
                            </div>
                        </div>
                        <div class="row mt-3 justify-content-between">
                            <div class="col-md">
                                <h5 class="newTicket">Developers:</h5>
                                @foreach (var member in Model.Members)
                                {

                                    if (await roleService.IsUserInRoleAsync(member, "Developer"))
                                    {
                                        <h6 class="newTicket offset-2">
                                            @member.FullName
                                        </h6>

                                    }
                                    else if (await roleService.IsUserInRoleAsync(member, "Developer") == null)
                                    {

                                        <h6 class="newTicket offset-2">
                                            Unassigned
                                        </h6>

                                    }
                                }
                            </div>
                            <div class="col-md">
                                <h5 class="newTicket">Submitters:</h5>
                                @foreach (var member in Model.Members)
                                {

                                    if (await roleService.IsUserInRoleAsync(member, "Submitter"))
                                    {
                                        <h6 class="newTicket offset-2">
                                            @member.FullName
                                        </h6>

                                    }
                                    else if (await roleService.IsUserInRoleAsync(member, "Submitter") == null)
                                    {

                                        <h6 class="newTicket offset-2">
                                            Unassigned
                                        </h6>

                                    }
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            @*Tickets Tab*@
            <div class="tab-pane fade" id="tickets" role="tabpanel" aria-labelledby="tickets-tab">
                <div class="row">
                    <div class="col-xl-12 widget widget-one_hybrid widget-followers mt-3">
                        <h1 class="newTicket mt-3" style="padding: 20px">
                            Active Tickets: @Model.Tickets.Where(t => t.TicketStatus.Name != "Closed").Count()

                            <a class="ml-1 btn btn-info text-dark float-right" asp-controller="Tickets" asp-action="Create">Add A New Ticket</a>
                        </h1><hr />

                        <div class="card-body">
                            <table id="zero-config" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Created
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            Priority
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        @*<th>
                                        Owner
                                    </th>
                                    <th>
                                        Developer
                                    </th>*@
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="newTicket">
                                    @foreach (var item in Model.Tickets)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Created)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TicketType.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                            </td>
                                            @*<td>
                                            @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                                        </td>*@
                                            <td>
                                                @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("Developer") || User.IsInRole("Submitter"))
                                                {
                                                    <a class="btn btn-sm" asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">Details</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="text-center">
                <a class="btn btn-info" asp-action="MyProjects">Back to Your Projects</a>
            </div>



            <div class="modal" id="edit">
                <div class="modal modal-dialog modal-dialog-centered">
                    <div class="modal-content widget widget-one_hybrid widget-followers">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="modal-header text-center">
                                <h4 class="modal-title newTicket">Edit Project, @user.FullName</h4>
                                <button type="button" class="btn" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col widget widget-one_hybrid widget-followers p-5 mt-2">


                                            <form asp-action="Edit" enctype="multipart/form-data">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <input type="hidden" asp-for="Id" />
                                                <input type="hidden" asp-for="ImageFileName" />
                                                <input type="hidden" asp-for="ImageFileData" />
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="newTicket mb-3">
                                                            <label for="CompanyId" class="control-label">Company</label>
                                                            <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                                                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                                                        </div>
                                                        <div class="newTicket mb-3">
                                                            <label asp-for="Name" class="newTicket"></label>
                                                            <input asp-for="Name" class="form-control" />
                                                            <span asp-validation-for="Name" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="newTicket mb-3">
                                                            <label for="ImageFileName" class="newTicket">Image Name</label>
                                                            <input asp-for="ImageFileName" class="form-control" />
                                                            <span asp-validation-for="ImageFileName" class="text-danger"></span>
                                                        </div>
                                                        <div class="newTicket mb-3">
                                                            <label for="ImageFileData" class="control-label">Image File</label>
                                                            <input asp-for="ImageFormFile" name="file" class="form-control-file-rounded" />
                                                            <span asp-validation-for="ImageFileData" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="newTicket mb-3">
                                                            <label asp-for="Description" class="newTicket"></label>
                                                            <textarea input asp-for="Description" class="form-control"></textarea>
                                                            <span asp-validation-for="Description" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-3 offset-3">
                                                        <div class="form-group">
                                                            <input type="submit" value="Save" class="btn btn-primary" />
                                                        </div>
                                                    </div>
                                                    <div class="col-3">

                                                        @if (User.IsInRole("Admin"))
                                                        {
                                                            <div class="form-group" asp-action="Delete" asp-route-id="Id">
                                                                <input type="hidden" asp-for="Id" />
                                                                <input type="submit" value="Delete" class="btn btn-danger" />
                                                            </div>
                                                        }
                                                    </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            @section Scripts {
                <script src="//cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
                <script src="~/plugins/table/datatable/datatables.js"></script>
                <script>
                $('#zero-config').DataTable({
                    "oLanguage": {
                        "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                        "sInfo": "Showing page _PAGE_ of _PAGES_",
                        "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                        "sSearchPlaceholder": "Search...",
                        "sLengthMenu": "Results :  _MENU_",
                    },
                    "stripeClasses": [],
                    "lengthMenu": [5, 10, 20, 50],
                    "pageLength": 5
                });
                </script>
}